#root{
    font-family: "Inter", Arial, sans-serif;
}

.body{
    background-color: cadetblue;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    /* align-content: center; */
}

.container {
    width: 70%;
    max-width: 900px;
    max-height: 80%;
    padding: 30px;
    background-color: #f9f9fb;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: "Inter", Arial, sans-serif;
    color: #333;
    line-height: 1.6;  
    margin-top: 120px;    
}


.bodyTitle {
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
    color: #1a1a1a;
    margin-bottom: 0.5rem;
    margin-left: 5px;
    text-align: center;
}

.container .title {
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
    color: #1a1a1a;
    margin-bottom: 0.5rem;
    margin-left: 5px;
    text-align: center;
}

.subtitle {
    font-size: 1.3rem;
    color: #555;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-style: italic;
}
p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

.container p,
.container ul,
.container div {
    text-align: left; /* le reste reste aligné à gauche */
}  

